[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "corset"]
	path = corset
	url = https://github.com/cran/corset
	shallow = true
	registered = true
